# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment folder
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# PyCharm IDE files
.idea/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Machine learning models
*.pkl
*.h5
*.joblib

# Environment variables file
.env
